<meta charset="utf-8">
<link rel="shortcut icon" type="image/png" href="{{url '/assets/favicon.png' ''}}" />
<meta name="yandex-verification" content="e1570293e78bfd37" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="preconnect" href="https://www.google-analytics.com">
<meta name="theme-color" content="#fff" />
<meta name="robots" content="index,follow" />
<title>{{#if title}}{{title}}{{else}}{{ metadata.title}}{{/if}}</title>
<meta name="description" content="{{#if description}}{{description}}{{else}}{{ metadata.description}}{{/if}}">
<meta property="og:url" content="{{metadata.url}}{{page.url}}">
<meta property="og:title" content="{{#if title}}{{title}}{{else}}{{ metadata.title}}{{/if}}">
<meta property="og:site_name" content="{{metadata.title}}">
<meta property="og:description" content="{{#if description}}{{description}}{{else}}{{ metadata.description}}{{/if}}">
<meta property="og:image" content="{{metadata.url}}{{#if featuredImageThumbnail}}{{featuredImageThumbnail}}{{else}}{{metadata.featuredImageThumbnail}}{{/if}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="ru">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{metadata.url}}{{#if featuredImageThumbnail}}{{featuredImageThumbnail}}{{else}}{{metadata.featuredImageThumbnail}}{{/if}}">
<link rel="alternate" href="{{url metadata.feed.path ''}}" type="application/atom+xml" title="{{metadata.title}}">
<link rel="manifest" href="/manifest.json">
